{% extends 'bakaNeko/includes/barraNav.html' %}

{% block cuerpo %}
<!-- Mostrando contenido de la tabla Posts -->
{% if user.rol_id == 1 %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11" style="padding:10%;">


        {% for p in post %}
        <div class="card mb-2" id="card-ajustes" style="padding: 2%;">
            <div class="card-header">
                <ul class="nav">
                    <li class="nav-item">
                        <h1 id="titulo-card">{{ p.tipo.nombreTipo }}</h1>
                    </li>
                    <li class="nav-item">
                        <h1 class="mt-1 ms-2" style="font-size: medium; color: gray;">~</h1>
                    </li>

                    <li class="nav-item">
                        <h5>posteado por: </h5>
                    </li>
                    <li class="nav-item">
                        <img src="{{ p.usuario.profile_pic.url }}" style="max-width: 40px;" id="minifoto-card" alt="Gato">
                        <a href="{% url 'profile' p.usuario_id %}" style="text-decoration: none; color: rgb(56, 56, 56);"><h1 id="titulo-nombreuser">
                            {{ p.usuario.user_name }}</h1></a>
                    </li>
                    <li class="nav-item">
                        <h4>en la fecha {{ p.fechaPost }}</h4>
                    </li>
                    <li class="nav-item">
                        <div style="align-items:flex-end;">
                            <button class="btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#Modal_Confirm"><svg
                                xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                                class="bi bi-trash3" viewBox="0 0 16 16">
                                <path
                                  d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                              </svg></button>
                            <div class="modal fade" id="Modal_Confirm" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">¿Seguro de que quieres Eliminar el Post?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                      aria-label="Close">No</button>
                                    <a href="{% url 'borrarPost' p.idPost %}" class="btn btn-success">Si</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container" id="caja_imgpost">
            {% if p.imagenPost == '' %}
                <h6 id="texto-card" class="ps-1">{{ p.descPost }}</h6>
            {% else %}
                <img class="card-img-top" id="imgpost" src="{{ p.imagenPost.url }}" alt="No imagen">
            {% endif %}
                
            </div>
            <a href="#" style="text-decoration: none; color: gray;"><svg xmlns="http://www.w3.org/2000/svg"
                style="color: gray;" width="16" height="16" fill="currentColor" class="bi bi-chat-left"
                viewBox="0 0 16 16">
                <path
                    d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            </svg></a>
            <a href="#" style="text-decoration: none; color: gray;">
                <h1 id="footer-card">{{ p.count_com }} Comentarios</h1>
            </a>
            {% for c in comentario %}
                {% if c.post.idPost == p.idPost %}
                <div class="row" style="padding-top: 5%;">
                    <div class="col-md-2 col-sm-2" style="background-color: azure;">
                        <img src="{{ c.usuario.fotoUsuario.url }}" style="width: 70%; margin-left: 20%;">
                        <a href="" style="font-size: 90%;">{{ c.usuario.user_name }}</a>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <p>{{ c.descCom }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
{% else %}
        <label>Esta vista es solo para Administradores!!!</label>
{% endif %}

{% endblock %}