{% extends 'bakaNeko/includes/barraNav.html' %}

  {% load static %}

  {% block titulo %}
  <title>BakaNeko - Crear Post</title>
  {% endblock titulo %}

  {% block cuerpo %}
  
  <div id="fondo">
  <form action="{% url 'registrarPost' 0 %}" id="form_post" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
   <div id="fondo">
    <div class="row" style="padding-top:10px">
      <div class="col-md-2"></div>

      <div class="col-md-8 col-sm-12 form-post">
        <h1 class="postear">Crear un post</h1>

        <!--Datos para el formulario-->
        <label for="asunto" class="label-post">Asunto</label>
        <input type="text" class="form-control input-post" name="asunto" id="asunto" required>

        <label for="imagen" class="label-post">Agrega una imagen(opcional)</label>
        <input type="file" class="form-control" name="imgPost" id="imgPost">

        <label for="desc_post" class="label-post">Descripcion</label>
        <textarea type="text" class="form-control" rows="5" name="descPost" id="desc_post"></textarea>

        <select name="tipoSel" id="tipoSel">
          {% for t in tipo %}
            <option value="{{ t.idTipo }}">{{ t.nombreTipo }}</option>
          {% endfor %}
        </select>
        <!--Mensaje de confirmacion o rechazo-->
        {% if messages %}
            {% for i in messages %}
            <p><br><div class='alert alert-danger' role='alert'>{{ i }}</div></p>
            {% endfor %}
        {% endif %}
        <!--submit para el formulario-->
        <button class="btn btn-primary btn-green btn-large" type="submit">Confirmar</button>

        <!--Para confirmar que los datos fueron enviados, se creó esta vista previa-->
        <div class="container-fluid redondear" id="container-post">
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </form>
  </div>
  {% endblock cuerpo %} 